/* ====== Contenido ====== */
.home-title {
    margin-top: 25px;
    text-align: center;

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 44px;
        margin: 0;
        color: $light-7;
        font-family: 'Bungee', cursive;
    }
}

.main-container {
    padding-top: 24px;
    padding-bottom: 24px;

    .main-card-box {

        .main__card1 {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            height: 100%;

            #debtList {
                width: 100%;
                /* O ajusta el ancho según tus necesidades */
                display: flex;
                flex-wrap: wrap;
                gap: 19px;
                /* Espacio entre las cajas */
                border-radius: 6px;


                .debt-container {
                    flex-basis: calc(33.33% - 13.3px);
                    /* Ajusta el ancho de cada caja y el espacio entre ellas */

                    background-color: #fff;
                    padding: 24px;
                    border-radius: 6px;
                    border: 1px solid rgba(0, 0, 0, 0.175);
                    text-align: center;



                    .debt-name {
                        color: $light-3;
                        margin-bottom: 5px;
                        font-family: 'Bungee', cursive;
                    }

                    .debt-details {

                        .debt-amount {
                            font-size: 14px;
                            font-weight: 600;
                            color: $color-2;
                        }

                        .debt-description {
                            font-size: 16px;
                            font-weight: 600;
                            color: $color-2;
                        }

                        strong {
                            color: $light-3;
                            text-transform: uppercase;
                            font-size: 15px;
                            font-weight: 800;
                        }

                        .amnt-pending {
                            color: $red-1;
                        }
                    }

                    .debt-actions {
                        margin-top: 10px;

                        button {
                            padding: 8px;
                            cursor: pointer;
                            background-color: $color-2;
                            color: #fff;
                            border: 1px solid $color-2;
                            border-radius: 3px;
                            font-size: 14px;
                            width: 100%;

                            &:hover {
                                background-color: $color-3;
                                color: $light-5;
                                -webkit-box-shadow: 1px 0px 20px -11px $color-2;
                                -moz-box-shadow: 1px 0px 20px -11px $color-2;
                                box-shadow: 1px 0px 20px -11px $color-2;
                            }
                        }
                    }
                }
            }

            .nodebt-message-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .no-debt-message {
                    color: $light-2;
                    font-size: 44px;
                    text-align: center;
                    font-family: 'Bungee', cursive;
                }
            }

        }

        .main__card2 {
            align-items: center;
            justify-content: center;

            .form-container {
                padding: 15px;

                form {

                    text-align: center;

                    label {
                        color: $light-3;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    input {
                        width: 100%;
                        padding: 8px;
                        margin-bottom: 25px;
                        box-sizing: border-box;
                        color: $light-4;
                        border: 1px solid #c7c8ca;
                        border-radius: 7px;
                        outline: none;

                        &:focus {
                            -webkit-box-shadow: 1px 0px 20px -11px $color-2;
                            -moz-box-shadow: 1px 0px 20px -11px $color-2;
                            box-shadow: 1px 0px 20px -11px $color-2;
                            border-color: $color-2;
                        }
                    }

                    .form__cont-button {

                        button {
                            padding: 8px;
                            cursor: pointer;
                            background-color: $color-2;
                            color: #fff;
                            border: 1px solid $color-2;
                            border-radius: 3px;
                            font-size: 14px;
                            width: 100%;

                            &:hover {
                                background-color: $color-3;
                                color: $light-5;
                                -webkit-box-shadow: 1px 0px 20px -11px $color-2;
                                -moz-box-shadow: 1px 0px 20px -11px $color-2;
                                box-shadow: 1px 0px 20px -11px $color-2;

                            }
                        }
                    }



                }
            }

        }
    }
}