/* ====== Por encima de 1400px ====== */
@media screen and (min-width: 1400px) {}

/* ====== Por debajo de 1400px ====== */
@media screen and (max-width: 1400px) {}

/* ====== Por encima de 1200px ====== */
@media screen and (min-width: 1200px) {}

/* ====== Por debajo de 1200px ====== */
@media screen and (max-width: 1200px) {
    
}

/* ====== Por encima de 992px ====== */
@media screen and (min-width: 992px) {}

/* ====== Por debajo de 992px ====== */
@media screen and (max-width: 992px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 955px;
    }
}

/* ====== Por encima de 768px ====== */
@media screen and (min-width: 768px) {
    .main-container .main-card-box .main__card2 {
        height: 610px;
    }
}

/* ====== Por debajo de 768px ====== */
@media screen and (max-width: 768px) {}

/* ====== Por encima de 576px ====== */
@media screen and (min-width: 576px) {}

/* ====== Por debajo de 576px ====== */
@media screen and (max-width: 576px) {
    .main-container .main-card-box .main__card1 #debtList {
        width: 100%;
        display: block;
    }

    .main-container .main-card-box .main__card1 #debtList .debt-container {
        margin-bottom: 15px;
    }

    .main-container .main-card-box .main__card1 #debtList .debt-container .debt-details p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-container .main-card-box .main__card1 #debtList .debt-container .debt-details strong {
        margin-right: 7px;
    }
}